<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeliciousMap">
	<insert id="insertMap" parameterType="com.bit.emoji.model.DeliciousMapVO">
		insert into deliciousMap
		values (#{deliciousMapNum}, #{deliciousMapName}, #{deliciousMapTag}, #{deliciousMapDetail}, #{deliciousMapOpen}, #{deliciousMapCreateDate}, #{memberNum})
	</insert>
	
	<select id="selectMapByDeliciousMapNum" resultType="com.bit.emoji.model.DeliciousMapVO" parameterType="int">
		select * from deliciousMap
		where deliciousMapNum=#{deliciousMapNum}
	</select>
	
	<select id="selectMapByMemberNum" resultType="com.bit.emoji.model.DeliciousMapVO" parameterType="int">
		select * from deliciousMap
		where memberNum=#{memberNum}
	</select>
	
	<insert id="insertPin" parameterType="com.bit.emoji.model.DeliciousVO">
		insert into delicious
		values (#{deliciousPinNum}, #{deliciousPinName}, #{deliciousPinAddress}, #{deliciousPinPhone}, #{deliciousPinCategory}, #{deliciousPinGrade}, #{deliciousPinDetail}, #{deliciousPinImg})
	</insert>
	
	<select id="selectPinListBydeliciousMapNum" resultType="com.bit.emoji.model.DeliciousVO" parameterType="int">
		select * from delicious
		where deliciousMapNum=#{deliciousMapNum}
	</select>
	
	<insert id="insertInfo" parameterType="com.bit.emoji.model.DeliciousPinVO">
		insert into deliciousPin
		values (#{deliciousNum}, #{deliciousMapNum})
	</insert>
</mapper>