<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeliciousMap">
	<insert id="insertMap" parameterType="com.bit.emoji.model.DeliciousMapVO">
		insert into dMap 
		values (#{deliciousMapNum}, #{deliciousMapName}, #{deliciousMapTag}, #{deliciousMapDetail}, #{deliciousMapOpen}, #{deliciousMapCreateDate}, #{memberNum})
	</insert>
	
	<select id="selectMapByDeliciousMapNum" resultType="com.bit.emoji.model.DeliciousMapVO" parameterType="int">
		select * from dMap
		where deliciousMapNum=#{deliciousMapNum}
	</select>
	
	<insert id="insertPin" parameterType="com.bit.emoji.model.DeliciousPinVO">
		insert into delicious
		values (#{deliciousPinNum}, #{deliciousPinName}, #{deliciousPinAddress}, #{deliciousPinPhone}, #{deliciousPinCategory}, #{deliciousPinGrade}, #{deliciousPinDetail}, #{deliciousPinImg}, #{deliciousMapNum}, #{deliciousPinRestaurant})
	</insert>
	
	<select id="selectPinListBydeliciousMapNum" resultType="com.bit.emoji.model.DeliciousPinVO" parameterType="int">
		select * from delicious
		where deliciousMapNum=#{deliciousMapNum}
	</select>
</mapper>